<section class="variants" id="options">
	<div class="container">
		<div class="variants__wrapper">
			<header class="variants__top-box">
				<h2 class="variants__title title">Варианты применения</h2>
				<div class="variants__switch">
					<div class="radio-switch">
						<input type="radio" name="type" id="industry" checked/>
						<label for="industry" class="radio-switch__label">По индустриям</label>
						<div class="radio-switch__render js-variants"></div>
						<input type="radio" name="type" id="role"/>
						<label for="role" class="radio-switch__label">По ролям</label>
					</div>
				</div>
			</header>
			<ul class="variants__list variants__list--active js-tabs js-industry">
				<li class="variants__item">
					<div class="variants-card variants-card--active js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--industry1" src="/assets/images/industry-1.svg" width="130" height="59"/>
							</div>
							<h3 class="variants-card__title">Маркетинг и реклама</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/industry-1.svg" width="130" height="59"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">
							Маркетинг и реклама
						</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Создание индивидуального контента под ЦА
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Создание контент-стратегии
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Проверка фактов и анализа данных
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--industry2" src="/assets/images/industry-2.svg" width="73" height="70"/>
							</div>
							<h3 class="variants-card__title">Консалтинг</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/industry-2.svg" width="73" height="70"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Консалтинг</h3>

						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Анализ и исследование существующих документов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Проверка регуляторных фактов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Составление документации
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--industry3" src="/assets/images/industry-3.svg" width="99" height="73"/>
							</div>
							<h3 class="variants-card__title">Недвижимость</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/industry-3.svg" width="99" height="73"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Недвижимость</h3>

						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Сервис клиентской поддержки
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Работы с комментариями клиентов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Процесс работы с каталогами недвижимости
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--industry4" src="/assets/images/industry-4.svg" width="59" height="67"/>
							</div>
							<h3 class="variants-card__title">Медицина</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/industry-4.svg" width="59" height="67"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Медицина</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Расшифровка и анализ медицинских карт
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Проверка регуляторных фактов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Взаимодействие с пациентами для улучшения сервиса
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--industry5" src="/assets/images/industry-5.svg" width="66" height="56"/>
							</div>
							<h3 class="variants-card__title">Образование и&nbsp;EdTech</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/industry-5.svg" width="66" height="56"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Образование и&nbsp;EdTech</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Создание индивидуальных учебных материалов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Создание и улучшение методологии обучения
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Создание индивидуальных учебных планов
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--industry6" src="/assets/images/industry-6.svg" width="85" height="79"/>
							</div>
							<h3 class="variants-card__title">Ecommerce</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/industry-6.svg" width="85" height="79"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Ecommerce</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Сервис клиентской поддержки
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Работы с комментариями на сайтах отзовиках или маркетплейсах
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Управление остатками на складах и прогнозирование
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<ul class="variants__list js-tabs js-role">
				<li class="variants__item">
					<div class="variants-card variants-card--active js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--role1" src="/assets/images/role-1.svg" width="86" height="77"/>
							</div>
							<h3 class="variants-card__title">Юридический отдел</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/role-1.svg" width="86" height="77"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">
							Юридический отдел
						</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Ускорение анализа контрактов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;обобщении юридических документов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;оперативной проверке фактов, законов и&nbsp;прецедентов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Ускорение процесса составления документации
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Суммаризация информации
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--role2" src="/assets/images/role-2.svg" width="63" height="65"/>
							</div>
							<h3 class="variants-card__title">Тендерный отдел</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/role-2.svg" width="63" height="65"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Тендерный отдел</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Ускорение процесса сбора и&nbsp;поиска информации
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;составлении заявок и&nbsp;документов
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Прогнозирование успеха участия в&nbsp;тендерах на&nbsp;основе прошлых данных
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Автоматизация процесса мониторинга изменений в&nbsp;тендерах
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--role3" src="/assets/images/role-3.svg" width="127" height="59"/>
							</div>
							<h3 class="variants-card__title">Отдел логистики</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/role-3.svg" width="127" height="59"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Отдел логистики</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;прогнозировании спроса на&nbsp;основе исторических данных, с&nbsp;целью сокращение издержек на&nbsp;хранение
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;анализе ошибок при доставке и&nbsp;прогнозирования решений для их&nbsp;устранения
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--role4" src="/assets/images/role-4.svg" width="77" height="66"/>
							</div>
							<h3 class="variants-card__title">Отдел маркетинга и&nbsp;продаж</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/role-4.svg" width="77" height="66"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Отдел маркетинга и&nbsp;продаж</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Создание индивидуальных коммуникационных стратегий под клиента и&nbsp;под разные этапы воронки
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Анализ данных и&nbsp;прогнозирование спроса на&nbsp;продукт
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Автоматизация процессов по&nbsp;управлению рекламными кампаниями, оптимизации контента
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--role5" src="/assets/images/role-5.svg" width="66" height="66"/>
							</div>
							<h3 class="variants-card__title">Клиентская поддержка</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/role-5.svg" width="66" height="66"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Клиентская поддержка</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Генерация ответов на&nbsp;запросы на&nbsp;естественном языке и&nbsp;персонализированная поддержка
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Ускорение поиска информации для оперативного ответа на&nbsp;запрос
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Возможность общения с&nbsp;клиентами на&nbsp;разных языках
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="variants__item">
					<div class="variants-card js-tabs-card">
						<button type="button" class="variants-card__accordion-button js-button-accordion">
							<div class="variants-card__image-wrapper">
								<img class="variants-card__image variants-card__image--role6" src="/assets/images/role-6.svg" width="88" height="56"/>
							</div>
							<h3 class="variants-card__title">Финансовый отдел</h3>
						</button>
						<div class="variants-card__image-wrapper variants-card__mobile-hidden">
							<img class="variants-card__image" src="/assets/images/role-6.svg" width="88" height="56"/>
						</div>
						<h3 class="variants-card__title variants-card__mobile-hidden">Финансовый отдел</h3>
						<div class="variants-card__descripion-block">
							<ul class="variants-card__descripion-list">
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Экономия времени на&nbsp;анализе и&nbsp;обработке финансовой информации
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;планировании и&nbsp;прогнозировании финансовых показателей
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Помощь в&nbsp;управлении рисками
									</p>
								</li>
								<li class="variants-card__descripion-item">
									<p class="variants-card__descripion-text">
										Автоматизация рутинных задач: обработка платежей, создание отчетов
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
