//basic colors
$color-white: #ffffff;
$color-black: #000000;

//
$color-floral-white: #fffCf5;
$color-nero: #181818;
$color-black-pearl: #1d1e1f;
$color-cod-grey: #343536;
$color-matterhorn: #4e4e4e;
$color-light-magnolia: #f4f2f9;
$color-magnolia: #e9e4f4;
$color-starship: #e9f03c;
$color-free-speech-red: #ca1212;
$color-medium-blue: #2f00c0;
$color-crimson: #DF0034;
$color-persian-blue: #012DD4;
$color-suva-grey: #8c8888;
$color-mischka: #a0adbe;
$color-dimGray: #696969;
$color-charcoal: #494949;
$color-westar: #d2d0cc;
$color-eclipse: #3f3a3a;