<div class="header-back">
	<div class="container header-back__container">
		<a class="header-back__logo" href="#">
			<svg class="header-back__icon" width="120" height="96" viewbox="0 0 120 96">
				<use xlink:href="/assets/images/icons.svg#logotype"></use>
			</svg>
		</a>
	</div>
</div>
<div class="header-front">
	<div class="container header-front__container">
		<div class="header-front__content">
			<button class="header-front__phone js-header-phone">
				<svg width="64" height="64" viewbox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
					<use xlink:href="/assets/images/icons.svg#phone-icon"></use>
				</svg>
			</button>
			<button class="header-front__menu-button js-header-menu-button">
				<div class="header-front__burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
		</div>
	</div>
</div>
