<section class="ai-solution-section" id="ai-solution">
	<div class="container">
		<h2 class="ai-solution-section__title title">Спектр AI-решений для PR</h2>
		<ul class="ai-solution-section__list">
			<li class="ai-solution-section__item">
				<div class="ai-solution">
					<div class="ai-solution-front">
						<div class="ai-solution-front__image-wrapper">
							<img class="ai-solution-front__image" src="/assets/images/ai-solution-icon-1.svg" width="52" height="70" alt=""/>
						</div>
						<h3 class="ai-solution-front__title">Стратегия и планирование</h3>
					</div>
					<div class="ai-solution-back">
						<div class="ai-solution-back__content">
							<div class="ai-solution-back__image-wrapper">
								<img class="ai-solution-back__image" src="/assets/images/ai-solution-icon-1.svg" width="52" height="70" alt=""/>
							</div>
							<h3 class="ai-solution-back__title">Стратегия и планирование</h3>
							<ul class="ai-solution-back__list">
								<li class="ai-solution-back__item">Моделирование эффективности PR-кампаний</li>
								<li class="ai-solution-back__item">AI-оптимизация контент-планов и&nbsp;бюджетов</li>
								<li class="ai-solution-back__item">Сценарное планирование антикризисных действий</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="ai-solution-section__item">
				<div class="ai-solution">
					<div class="ai-solution-front">
						<div class="ai-solution-front__image-wrapper">
							<img class="ai-solution-front__image" src="/assets/images/ai-solution-icon-2.svg" width="70" height="70" alt=""/>
						</div>
						<h3 class="ai-solution-front__title">Медиамониторинг и аналитика</h3>
					</div>
					<div class="ai-solution-back">
						<div class="ai-solution-back__content">
							<div class="ai-solution-back__image-wrapper">
								<img class="ai-solution-back__image" src="/assets/images/ai-solution-icon-2.svg" width="52" height="52" alt=""/>
							</div>
							<h3 class="ai-solution-back__title">Медиамониторинг и аналитика</h3>
							<ul class="ai-solution-back__list">
								<li class="ai-solution-back__item">Аналитика трендов и&nbsp;репутационных рисков</li>
								<li class="ai-solution-back__item">Выявление тональности, охвата и&nbsp;влияния медиаупоминаний</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="ai-solution-section__item">
				<div class="ai-solution">
					<div class="ai-solution-front">
						<div class="ai-solution-front__image-wrapper">
							<img class="ai-solution-front__image" src="/assets/images/ai-solution-icon-3.svg" width="62" height="60" alt=""/>
						</div>
						<h3 class="ai-solution-front__title">Работа с инфлюенсерами и СМИ</h3>
					</div>
					<div class="ai-solution-back">
						<div class="ai-solution-back__content">
							<div class="ai-solution-back__image-wrapper">
								<img class="ai-solution-back__image" src="/assets/images/ai-solution-icon-3.svg" width="55" height="52" alt=""/>
							</div>
							<h3 class="ai-solution-back__title">Работа с инфлюенсерами и СМИ</h3>
							<ul class="ai-solution-back__list">
								<li class="ai-solution-back__item">Поиск и&nbsp;анализ релевантных инфлюенсеров на&nbsp;основе метрик</li>
								<li class="ai-solution-back__item">Персонализация медиа-питчей с&nbsp;учётом интересов журналистов</li>
								<li class="ai-solution-back__item">Ведение CRM и&nbsp;профилей редакторов в&nbsp;автоматизированном режиме</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="ai-solution-section__item">
				<div class="ai-solution">
					<div class="ai-solution-front">
						<div class="ai-solution-front__image-wrapper">
							<img class="ai-solution-front__image" src="/assets/images/ai-solution-icon-4.svg" width="76" height="69" alt=""/>
						</div>
						<h3 class="ai-solution-front__title">Новые технологии в PR</h3>
					</div>
					<div class="ai-solution-back">
						<div class="ai-solution-back__content">
							<div class="ai-solution-back__image-wrapper">
								<img class="ai-solution-back__image" src="/assets/images/ai-solution-icon-4.svg" width="59" height="53" alt=""/>
							</div>
							<h3 class="ai-solution-back__title">Новые технологии в PR</h3>
							<ul class="ai-solution-back__list">
								<li class="ai-solution-back__item">Голосовые интерфейсы и&nbsp;spatial computing для виртуальных мероприятий</li>
								<li class="ai-solution-back__item">Генеративное видео и&nbsp;AR-форматы в&nbsp;презентациях</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="ai-solution-section__item">
				<div class="ai-solution">
					<div class="ai-solution-front">
						<div class="ai-solution-front__image-wrapper">
							<img class="ai-solution-front__image" src="/assets/images/ai-solution-icon-5.svg" width="63" height="71" alt=""/>
						</div>
						<h3 class="ai-solution-front__title">Измерение и эффективность</h3>
					</div>
					<div class="ai-solution-back">
						<div class="ai-solution-back__content">
							<div class="ai-solution-back__image-wrapper">
								<img class="ai-solution-back__image" src="/assets/images/ai-solution-icon-5.svg" width="46" height="52" alt=""/>
							</div>
							<h3 class="ai-solution-back__title">Измерение и эффективность</h3>
							<ul class="ai-solution-back__list">
								<li class="ai-solution-back__item">Построение дашбордов и&nbsp;автоматизированных отчетов</li>
								<li class="ai-solution-back__item">Прогнозирование охватов, вовлеченности и&nbsp;отклика</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="ai-solution-section__item">
				<div class="ai-solution ai-solution--more">
					<div class="ai-solution-front">
						<a class="ai-solution-front-button button" href="#consultation">Узнать подробнее</a>
						<div class="ai-solution__parallax">
							<div data-speed="0.2" data-directiony="-1" data-directionx="-1" data-coords="coordsXY" class="ai-solution__layer ai-solution__layer--a"></div>
							<div data-speed="0.5" data-directionx="-1" data-directiony="1" data-coords="coordsXY" class="ai-solution__layer ai-solution__layer--b"></div>
							<div data-speed="0.36" data-directionx="-1" data-coords="coordX" class="ai-solution__layer ai-solution__layer--c"></div>
							<div data-speed="0.6" data-directionx="1" data-directiony="1" data-coords="coordsXY" class="ai-solution__layer ai-solution__layer--d"></div>
							<div data-speed="0.6" data-directionx="1" data-directiony="1" data-coords="coordsXY" class="ai-solution__layer ai-solution__layer--e"></div>
						</div>
					</div>
				</div>
				<button type="button" class="ai-solution__button button">Узнать подробнее</button>
			</li>
		</ul>
	</div>
</section>
