<section class="why" id="why">
	<div class="container">
		<div class="why__wrapper">
			<h2 class="why__title title">Почему мы?</h2>
			<div class="why-slider">
				<div class="why-slider__counter">
					<span class="why-slider__counter-big">01</span>
					<span class="why-slider__counter-small">/3</span>
				</div>
				<div class="why-slider__wrapper">
					<div class="why-slider__item">
						<div class="why-slide">
							<div class="why-slide-front">
								<div class="why-slide-front__image-wrapper">
									<img class="why-slide-front__image" src="/assets/images/why-slide-new-icon-1.svg" width="130" height="92" alt=""/>
								</div>
								<h3 class="why-slide-front__title">Индивидуальная интеграция</h3>
							</div>
							<div class="why-slide-back">
								<div class="why-slide-back__content">
									<div class="why-slide-back__image-wrapper">
										<img class="why-slide-back__image" src="/assets/images/why-slide-new-icon-1.svg" width="87" height="61" alt=""/>
									</div>
									<h3 class="why-slide-back__title">Индивидуальная интеграция</h3>
									<p class="why-slide-back__description">Каждое решение адаптируется под вашу инфраструктуру, бизнес&nbsp;-&nbsp;процессы и&nbsp;стиль коммуникации</p>
								</div>
							</div>
						</div>
					</div>
					<div class="why-slider__item">
						<div class="why-slide">
							<div class="why-slide-front">
								<div class="why-slide-front__image-wrapper">
									<img class="why-slide-front__image" src="/assets/images/why-slide-new-icon-2.svg" width="192" height="64" alt=""/>
								</div>
								<h3 class="why-slide-front__title">Ориентир на&nbsp;результат</h3>
							</div>
							<div class="why-slide-back">
								<div class="why-slide-back__content">
									<div class="why-slide-back__image-wrapper">
										<img class="why-slide-back__image" src="/assets/images/why-slide-new-icon-2.svg" width="128" height="42" alt=""/>
									</div>
									<h3 class="why-slide-back__title">Ориентир на&nbsp;результат</h3>
									<p class="why-slide-back__description">Разработка разбита на короткие циклы, чтобы вы могли вносить изменения «на&nbsp;лету» и&nbsp;получать идеальный итоговый продукт.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="why-slider__item">
						<div class="why-slide">
							<div class="why-slide-front">
								<div class="why-slide-front__image-wrapper">
									<img class="why-slide-front__image" src="/assets/images/why-slide-new-icon-3.svg" width="70" height="70" alt=""/>
								</div>
								<h3 class="why-slide-front__title">Быстрый запуск проекта</h3>
							</div>
							<div class="why-slide-back">
								<div class="why-slide-back__content">
									<div class="why-slide-back__image-wrapper">
										<img class="why-slide-back__image" src="/assets/images/why-slide-new-icon-3.svg" width="70" height="70" alt=""/>
									</div>
									<h3 class="why-slide-back__title">Быстрый запуск проекта</h3>
									<p class="why-slide-back__description">Доступ к&nbsp;промежуточным результатам и&nbsp;регулярная отчётность: всё под вашим контролем.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="why-slider__item">
						<div class="why-slide">
							<div class="why-slide-front">
								<div class="why-slide-front__image-wrapper">
									<img class="why-slide-front__image" src="/assets/images/why-slide-new-icon-4.svg" width="61" height="79" alt=""/>
								</div>
								<h3 class="why-slide-front__title">Высокий уровень безопасности данных</h3>
							</div>
							<div class="why-slide-back">
								<div class="why-slide-back__content">
									<div class="why-slide-back__image-wrapper">
										<img class="why-slide-back__image" src="/assets/images/why-slide-new-icon-4.svg" width="61" height="79" alt=""/>
									</div>
									<h3 class="why-slide-back__title">Высокий уровень безопасности данных</h3>
									<p class="why-slide-back__description">Мы ценим ваше время и&nbsp;гарантируем результаты, прописывая дедлайны в&nbsp;договоре.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
