<section class="how-work" id="how-work">
	<div class="container">
		<div class="how-work__wrapper">
			<h2 class="how-work__title title">
				Как мы работаем?
			</h2>
			<div class="how-work__inner">
				<ul class="how-work__list">
					<li class="how-work__item">
						<div class="how-work__image-wrapper">
							<img class="how-work__image how-work__image-bg how-work__image-color-bg lazyload" data-src="/assets/images/how-work-color-bg-left.svg" alt=""/>
							<img class="how-work__image how-work__image-bg how-work__image-black-white-bg lazyload" data-src="/assets/images/how-work-bg-left.svg" alt=""/>
							<picture>
								<img class="how-work__image lazyload" data-src="/assets/images/how-work-image-1.png" width="676" height="458" alt=""/>
							</picture>
						<span class="how-work__progress-pin how-work__progress-pin--one"></span>
						</div>
						<div class="how-work__item-description">
							<div class="how-work__item-step">шаг 1</div>
							<h3 class="how-work__item-title">Анализ задач и проектирование</h3>
							<p class="how-work__item-text">Интервью с PR-командой, определение целей, каналов, источников данных и сценариев автоматизации</p>
						</div>
					</li>
					<li class="how-work__item how-work__item--reverse">
						<div class="how-work__image-wrapper">
							<img class="how-work__image how-work__image-bg how-work__image-color-bg lazyload" data-src="/assets/images/how-work-color-bg-right.svg" alt=""/>
							<img class="how-work__image how-work__image-bg how-work__image-black-white-bg lazyload" data-src="/assets/images/how-work-bg-right.svg" alt=""/>
							<picture>
								<img class="how-work__image lazyload" data-src="/assets/images/how-work-image-2.png" width="652" height="493" alt=""/>
							</picture>
						<span class="how-work__progress-pin how-work__progress-pin--two"></span>
						</div>
						<div class="how-work__item-description">
							<div class="how-work__item-step">шаг 2</div>
							<h3 class="how-work__item-title">Прототипирование и тестирование</h3>
							<p class="how-work__item-text">Быстрый запуск пилота на&nbsp;ваших данных, настройка под отраслевой язык, проверка функционала.</p>
						</div>
					</li>
					<li class="how-work__item">
						<div class="how-work__image-wrapper">
							<img class="how-work__image how-work__image-bg how-work__image-color-bg lazyload" data-src="/assets/images/how-work-color-bg-left.svg" alt=""/>
							<img class="how-work__image how-work__image-bg how-work__image-black-white-bg lazyload" data-src="/assets/images/how-work-bg-left.svg" alt=""/>
							<picture>
								<img class="how-work__image lazyload" data-src="/assets/images/how-work-image-3.png" width="676" height="458" alt=""/>
							</picture>
						<span class="how-work__progress-pin how-work__progress-pin--three"></span>
						</div>
						<div class="how-work__item-description">
							<div class="how-work__item-step">шаг 3</div>
							<h3 class="how-work__item-title">Внедрение и интеграция</h3>
							<p class="how-work__item-text">Интеграция с&nbsp;PR-инфраструктурой, обеспечение безопасности, масштабирование под большие объемы.</p>
						</div>
					</li>
					<li class="how-work__item how-work__item--reverse">
						<div class="how-work__image-wrapper">
							<img class="how-work__image how-work__image-bg how-work__image-color-bg lazyload" data-src="/assets/images/how-work-color-bg-right.svg" alt=""/>
							<img class="how-work__image how-work__image-bg how-work__image-black-white-bg lazyload" data-src="/assets/images/how-work-bg-right.svg" alt=""/>
							<picture>
								<img class="how-work__image lazyload" data-src="/assets/images/how-work-image-4.png" width="652" height="493" alt=""/>
							</picture>
						<span class="how-work__progress-pin how-work__progress-pin--four"></span>
						</div>
						<div class="how-work__item-description">
							<div class="how-work__item-step">шаг 4</div>
							<h3 class="how-work__item-title">
								Сопровождение и развитие</h3>
							<p class="how-work__item-text">Мониторинг, анализ метрик, обновление моделей, настройка под новые задачи и&nbsp;консультационная поддержка.</p>
						</div>
					</li>
				</ul>
				<div class="how-work__loading-bar">
					<div id="progress-bar" class="how-work__loading-progress"></div>
				</div>
			</div>
		</div>
	</div>
</section>
