<section class="statistics">
	<div class="container statistics__container">
		<span class="statistics__wrapper-animation statistics__wrapper-animation--one"></span>
		<span class="statistics__wrapper-animation statistics__wrapper-animation--two"></span>
		<span class="statistics__wrapper-animation statistics__wrapper-animation--three"></span>
		<ul class="statistics__list">
			<li class="statistics__item statistics__item--first">
				<div class="statistics__item-animation statistics__item-animation--one"></div>
				<span class="statistics__year">2026 год</span>
				<h3 class="statistics__item-title">
					75% компаний будут применять Gen&nbsp;AI
				</h3>
				<p class="statistics__item-description">
					для создания синтетических данных о&nbsp;клиентах, что значительно превышает уровень в&nbsp;менее чем&nbsp;5% в&nbsp;2023&nbsp;году.
				</p>
			</li>
			<li class="statistics__item statistics__item--second">
				<div class="statistics__item-animation statistics__item-animation--two"></div>
				<span class="statistics__year">2027 год</span>
				<h3 class="statistics__item-title">
					Более 50%
					<span class="text-wrapping">моделей Gen&nbsp;AI</span>
				</h3>
				<p class="statistics__item-description">
					используемых предприятиями, будут специализироваться на определенной отрасли или бизнес-функции, что сравнимо с&nbsp;уровнем примерно&nbsp;1% в&nbsp;2023&nbsp;году.
				</p>
			</li>
			<li class="statistics__item statistics__item--third">
				<div class="statistics__item-animation statistics__item-animation--three"></div>
				<span class="statistics__year statistics__year--red">2028 год</span>
				<h3 class="statistics__item-title">
					30%
					<span class="text-wrapping">внедрений Gen&nbsp;AI</span>
				</h3>
				<p class="statistics__item-description">
					будут оптимизированы с&nbsp;использованием энергосберегающих вычислительных методов в&nbsp;рамках инициатив по&nbsp;устойчивому развитию.
				</p>
			</li>
		</ul>
	</div>
	<div class="statistics__footer"></div>
</section>
