.ai-solution-section {
  position: relative;
  padding: 65px 0 200px;

  @media (max-width: 767px) {
    padding: 34px 0 70px;
  }
}

.ai-solution-section__title {
  color: #000000;
  margin-bottom: 44px;

  @media (max-width: 767px) {
    margin-bottom: 22px;
  }
}

.ai-solution-section__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.ai-solution-section__item {
  position: relative;

  @media (max-width: 767px) {
    // padding: 0 8px;
  }
}

.ai-solution {
  position: relative;
  border-radius: 10px;

  height: 100%;
  min-height: 257px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  @media (max-width: 767px) {
    min-height: unset;
  }
}

.ai-solution:before {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  // background-image: url('../../assets/images/ai-solution-image-1.svg');
  // width: 161px;
  // height: 74px;
  z-index: 10;
}

.ai-solution-section__item:nth-child(1) .ai-solution:before {
  background-image: url('../../assets/images/ai-solution-image-1.svg');
  width: 161px;
  height: 74px;
}

.ai-solution-section__item:nth-child(2) .ai-solution:before {
  background-image: url('../../assets/images/ai-solution-image-2.svg');
  width: 101px;
  height: 59px;
}

.ai-solution-section__item:nth-child(3) .ai-solution:before {
  background-image: url('../../assets/images/ai-solution-image-3.svg');
  width: 79px;
  height: 29px;
}

.ai-solution-section__item:nth-child(4) .ai-solution:before {
  background-image: url('../../assets/images/ai-solution-image-4.svg');
  width: 105px;
  height: 60px;
}

.ai-solution--more .ai-solution-front {
  align-items: center;
  justify-content: center;
  position: relative;
}

.ai-solution--more {
  @media (max-width: 767px) {
    display: none;
  }
}

.ai-solution__button {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
}

.ai-solution-front {
  opacity: 1;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 26px;
  border-radius: 15px;
  background-color: $color-cod-grey;
  transition: all 0.3s ease;

  @media (max-width: 767px) {
    display: none;
  }
}

.ai-solution-front-button {
  z-index: 1000;
  position: relative;
  text-decoration: none;
}

.ai-solution-back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  background-color: $color-medium-blue;
  border-radius: 15px;
  z-index: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;

  @media (max-width: 767px) {
    opacity: 1;
    position: relative;
    z-index: 1;
    transform: unset;
    background-color: $color-cod-grey;
    border-radius: 10px;
  }
}

.ai-solution-back__content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 16px);
  height: 100%;
  // padding: 50px calc(22px + 16px) calc(22px + 20%) 22px;
  padding: 26px;
  overflow: auto;

  @media (max-width: 767px) {
    position: relative;
    width: 100%;
    padding: 18px 18px 24px;
  }
}

.ai-solution:hover .ai-solution-front {
  opacity: 0;
}

.ai-solution--more:hover .ai-solution-front {
  opacity: 1;
}

.ai-solution:hover .ai-solution-back {
  opacity: 1;
}

.ai-solution-back__image-wrapper {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    max-height: 52px;
    margin-bottom: 16px;
  }
}

.ai-solution-front__title,
.ai-solution-back__title {
  margin: 0 0 18px;
  padding: 0;

  font-family: Gilroy;
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  color: $color-white;

  @media (max-width: 1023px) {
    font-size: 22px;
  }
}

.ai-solution-back__title {
  @media (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.ai-solution-back__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.ai-solution-back__item {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 24px;

  font-size: 20px;
  line-height: 130%;
  font-weight: 400;
  color: $color-light-magnolia;

  // @media (max-width: 1023px) {
  //   font-size: 18px;
  // }

  @media (max-width: 767px) {
    font-size: 14px;
    margin-left: 20px;
  }
}

.ai-solution-back__item::before {
  position: absolute;
  content: '';
  top: 9px;
  left: -14px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #fff;
}

.ai-solution__parallax {
  position: absolute;
  // top: 0;
  // right: 0;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-position: center;
  // width: 60vw;
  width: 100%;
  padding-bottom: 38%;
  max-width: 200px;
  max-height: 186px;

  // @media (max-width: 1023px) {
  //   display: none;
  // }
}

.ai-solution__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.ai-solution__layer--a {
  background-image: url('../../assets/images/ai-solution-parallax-1.svg');
  z-index: 400;
}

.ai-solution__layer--b {
  background-image: url('../../assets/images/ai-solution-parallax-2.svg');
  z-index: 300;
}

.ai-solution__layer--c {
  background-image: url('../../assets/images/ai-solution-parallax-3.svg');
  z-index: 200;
}

.ai-solution__layer--d {
  background-image: url('../../assets/images/ai-solution-parallax-4.svg');
  z-index: 200;
}

.ai-solution__layer--e {
  background-image: url('../../assets/images/ai-solution-parallax-5.svg');
  z-index: 200;
}
