.consultation {
  padding: 158px 0 167px;
  background-color: $color-black-pearl;
  background-image: url('../../assets/images/how-work-and-projects-bg.svg');
  background-position: 0 6%;

  @media (max-width: 1023px) {
    padding: 70px 0;
  }

  @media (max-width: 767px) {
    padding: 48px 0 52px;
  }
}

.consultation__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: unset;
  }
}

.consultation__content {
  max-width: 591px;
  width: 50%;
  color: $color-light-magnolia;
  padding-top: 38px;

  @media (max-width: 1023px) {
    max-width: unset;
    width: 100%;
    padding-top: 0px;
  }
}

.consultation__title.title {
  line-height: 100%;
  margin-bottom: 37px;

  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.consultation__description {
  margin: 0;
  padding: 0;

  font-size: 22px;
  line-height: 130%;
  font-weight: 400;
  color: $color-light-magnolia;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.consultation__form {
  position: relative;
}

.consultation__form-wrapper {
  max-width: 765px;
  width: 50%;
  @media (max-width: 1023px) {
    width: 100%;
  }
}

.consultation__form-field {
  display: flex;
  flex-direction: column;
  gap: 9px;
  @media (max-width: 767px) {
    gap: 9px;
  }
}

.consultation__form .form-group {
  width: 100%;
}

.consultation__input {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 25px;
  // font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: $color-black;
  border: 2px solid transparent;
  background-color: $color-white;
  border-radius: 62px;
  outline: none;

  @media (max-width: 767px) {
    font-size: 16px;
    height: 50px;
  }
}

.consultation__input:placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: $color-dimGray;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.consultation .form-group.has-danger > .consultation__input {
  border: 2px solid $color-free-speech-red;
}

.consultation .form-group .text-help {
  color: $color-free-speech-red;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}

.consultation__send-result {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  color: $color-nero;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.consultation__send-result {
  color: green;

  & p {
    margin: 0;
    padding: 0;
    margin-top: 18px;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }
}
