.header-back {
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  z-index: 2222;

  @media (max-width: 767px) {
    top: 0;
    padding: 16px 0;
  }
}

.header-back__container {
  display: flex;
  align-items: center;
  height: 96px;

  @media (max-width: 767px) {
    height: 60px;
  }
}

.header-back__icon {
  fill: $color-white;

  @media (max-width: 767px) {
    width: 70px;
    height: 56px;
  }
}
