<div class="project-modal">
	<div class="overlay-project-modal"></div>
	<div class="project-modal__box">
		<button type="button" class="project-modal__close-button"></button>
		<div class="project-modal__wrapper">
				<div class="project-modal__slider">
					<div class="project-modal__slide">
						<div class="project-modal-slide">
							<div class="project-modal__content">
								<h2 class="project-modal__title">Решение мониторинга упоминания бренда в&nbsp;Интернет в режиме реального времени</h2>
								<div class="project-modal__text-wrapper">
									<h3 class="project-modal__text-title">Задача:</h3>
									<p class="project-modal__text-content">Разработка системы автоматизированного мониторинга упоминаний брендов и&nbsp;выявления инфоповодов, тем и&nbsp;других сущностей из&nbsp;текста сообщений в&nbsp;социальных сетях.</p>
								</div>
								<div class="project-modal__text-wrapper">
									<h3 class="project-modal__text-title">Что было сделано:</h3>
									<p class="project-modal__text-content">Главная сложность разработки подобной системы&nbsp;&mdash; настроить кластеризацию и&nbsp;поиск инфоповодов и&nbsp;тем в&nbsp;текстах в&nbsp;режиме реального времени с&nbsp;цельным пониманием содержания и&nbsp;определением тональности.</p>
									<p class="project-modal__text-content">Мы&nbsp;создали систему, которая в&nbsp;режиме реального времени может: собирать, хранить и&nbsp;обрабатывать большие объемы данных; искать инфоповоды и&nbsp;темы в&nbsp;сообщениях; определять тональность текстов по&nbsp;отношению к&nbsp;объекту.</p>
								</div>
								<div class="project-modal__image-wrapper">
									<picture class="project-modal__image project-modal__image--big">
										<source data-srcset="/assets/images/webp/projects-modal-2-image-1.webp"/>
										<img class="lazyload" data-src="/assets/images/projects-modal-2-image-1.png"  alt="">
									</picture>
								</div>
							</div>
						</div>
					</div>
					<div class="project-modal__slide">
						<div class="project-modal-slide">
							<div class="project-modal__content">
								<h2 class="project-modal__title">Решение по&nbsp;автоматизации рекламы на&nbsp;Amazon</h2>
								<div class="project-modal__text-wrapper">
									<h3 class="project-modal__text-title">Задача:</h3>
									<p class="project-modal__text-content">Разработать MVP-систему, которая позволит автоматизировать запуск рекламы на&nbsp;площадках Facebook, Google и&nbsp;Amazon.</p>
								</div>
								<div class="project-modal__text-wrapper">
									<a href="https://loqstoq.webflow.io/" target="_blank" class="project-modal__link button">Подробнее</a>
								</div>
								<div class="project-modal__text-wrapper">
									<h3 class="project-modal__text-title">Что было сделано:</h3>
									<p class="project-modal__text-content">Было реализовано решение на основе исходных параметров товаров, позволяющее LLM/GPT генерировать описания и креативы для рекламных кампаний и выбирать наиболее эффективные варианты. Также был добавлен модуль генерации текстов для рекламы в систему.</p>
								</div>
								<div class="project-modal__image-wrapper">
									<picture class="project-modal__image project-modal__image--rounded">
										<source data-srcset="/assets/images/webp/projects-modal-1-image-1.webp"/>
										<img class="lazyload" data-src="/assets/images/projects-modal-1-image-1.jpg"  alt="">
									</picture>
									<picture class="project-modal__image project-modal__image--rounded">
										<source data-srcset="/assets/images/webp/projects-modal-1-image-2.webp"/>
										<img class="lazyload" data-src="/assets/images/projects-modal-1-image-2.jpg" alt="">
									</picture>
									<picture class="project-modal__image project-modal__image--rounded project-modal__image--big">
										<source data-srcset="/assets/images/webp/projects-modal-1-image-3.webp"/>
										<img class="lazyload" data-src="/assets/images/projects-modal-1-image-3.jpg" alt="">
									</picture>
								</div>
							</div>
						</div>
					</div>
					<div class="project-modal__slide">
						<div class="project-modal-slide">
							<div class="project-modal__content">
								<h2 class="project-modal__title">Решение для автоматизации работы бизнес-аналитика</h2>
								<div class="project-modal__text-wrapper">
									<h3 class="project-modal__text-title">Задача:</h3>
									<p class="project-modal__text-content">Ускорить процесс описания требований для разработки&nbsp;ПО.</p>
								</div>
								<div class="project-modal__text-wrapper">
									<a href="https://omori.ai/" target="_blank" class="project-modal__link button">Подробнее</a>
								</div>
								<div class="project-modal__text-wrapper">
									<h3 class="project-modal__text-title">Что было сделано:</h3>
									<p class="project-modal__text-content">Сложность данного проекта - научиться корректно формулировать промты, добиться постоянного качественного результата в работе системы.</p>
									<p class="project-modal__text-content">Мы разработали решение по&nbsp;автоматизации процесса разработки требований от&nbsp;транскрибации интервью до&nbsp;создания документа software requirements. Научили заказчика правильно формулировать промты (составили список запросов под разные задачи) и&nbsp;добились постоянного качественно результата работы решения.</p>
								</div>
								<div class="project-modal__image-wrapper">
									<picture class="project-modal__image project-modal__image--big">
										<source data-srcset="/assets/images/webp/projects-modal-3-image-1.webp"/>
										<img class="lazyload" data-src="/assets/images/projects-modal-3-image-1.png"  alt="">
									</picture>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="project-modal__buttons">
					<button class="project-modal__button project-modal__button--prev button">Назад</button>
					<button class="project-modal__button project-modal__button--next button">Далее</button>
				</div>
				<div class="project-modal__counter">
					<span class="project-modal__counter-big">01</span>
					<span class="project-modal__counter-small">/3</span>
				</div>
		</div>
	</div>
</div>
