<section class="strategy" id="process">
	<div class="container">
		<h2 class="strategy__title title">Контента всё больше, а&nbsp;времени на&nbsp;его создание&nbsp;&mdash; меньше?</h2>
		<div class="strategy__inner">
			<div class="strategy__image-wrapper">
				<img class="strategy__image strategy__image--active" src="/assets/images/strategy-1.png" width="710" height="710"/>
				<img class="strategy__image" src="/assets/images/strategy-2.png" width="518" height="671"/>
				<img class="strategy__image" src="/assets/images/strategy-3.png" width="706" height="539"/>
			</div>
			<div class="strategy__content">
				<h3 class="strategy__content-title">AI-инструменты помогут справиться с рутиной и усилить вовлечённость.</h3>
				<ul class="strategy__list js-tabs">
					<li class="strategy__item">
						<div class="strategy-card strategy-card--active js-tabs-card js-button-accordion">
							<div class="loading-bar">
								<div class="loading-progress"></div>
							</div>
							<h4 class="strategy-card__title">Генерация контента</h4>
							<div class="strategy-card__inner">
								<div class="strategy-card__content">
									<div class="strategy-card__description">
										<span>60–75% экономии времени и бюджета</span>
										<span>Создание пресс-релизов, постов и визуалов в 5 раз быстрее — без потери качества и с сохранением тональности бренда.</span>
									</div>
									<div class="strategy-card__image">
										<img class="" src="/assets/images/strategy-1.png" width="215" height="242"/>
									</div>
								</div>
							</div>
							<div class="strategy-card__arrow">
								<svg width="16" height="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 1a1 1 0 0 0-2 0h2zM7.293 15.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 13.586 2.343 7.929A1 1 0 0 0 .93 9.343l6.364 6.364zM8 1H7v14h2V1H8z" fill="currentColor"/>
								</svg>
							</div>
						</div>
					</li>
					<li class="strategy__item">
						<div class="strategy-card js-tabs-card js-button-accordion">
							<div class="loading-bar">
								<div class="loading-progress"></div>
							</div>
							<h4 class="strategy-card__title">Персонализация и вовлечение</h4>
							<div class="strategy-card__inner">
								<div class="strategy-card__content">
									<div class="strategy-card__description">
										<span>+30–62% роста вовлечённости аудитории</span>
										<span>Коммуникации подстраиваются под стиль, поведение и эмоции вашей целевой аудитории в реальном времени.</span>
									</div>
									<div class="strategy-card__image">
										<img class="" src="/assets/images/strategy-2.png" width="215" height="242"/>
									</div>
								</div>
							</div>
							<div class="strategy-card__arrow">
								<svg width="16" height="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 1a1 1 0 0 0-2 0h2zM7.293 15.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 13.586 2.343 7.929A1 1 0 0 0 .93 9.343l6.364 6.364zM8 1H7v14h2V1H8z" fill="currentColor"/>
								</svg>
							</div>
						</div>
					</li>
					<li class="strategy__item">
						<div class="strategy-card js-tabs-card js-button-accordion">
            <div class="loading-bar">
								<div class="loading-progress"></div>
							</div>
							<h4 class="strategy-card__title">Кризис-менеджмент и репутация</h4>
							<div class="strategy-card__inner">
								<div class="strategy-card__content">
									<div class="strategy-card__description">
										<span>85% быстрее реагируйте на репутационные угрозы</span>
										<span>Сценарии реагирования, генерация заявлений, предиктивная аналитика и командные центры кризисов — всё в режиме «сейчас».</span>
									</div>
									<div class="strategy-card__image">
										<img class="" src="/assets/images/strategy-3.png" width="215" height="242"/>
									</div>
								</div>
							</div>
							<div class="strategy-card__arrow">
								<svg width="16" height="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path d="M9 1a1 1 0 0 0-2 0h2zM7.293 15.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 13.586 2.343 7.929A1 1 0 0 0 .93 9.343l6.364 6.364zM8 1H7v14h2V1H8z" fill="currentColor"/>
								</svg>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
