<section class="diagram-box">
	<div 
		data-speed="0.1" 
		data-directionx="1" 
		data-directiony="1" 
		data-coords="coordsXY" 
		class="diagram-box__parallax-item diagram-box__parallax-item--one">
	</div>
	<div 
		data-speed="0.1" 
		data-directionx="-1" 
		data-directiony="-1" 
		data-coords="coordsXY" 
		class="diagram-box__parallax-item diagram-box__parallax-item--two">
	</div>
	<div class="container">
		<div class="diagram-box__wrapper">
			{% include '../venn-diagram/index.twig' %}
		</div>
	</div>
</section>
