<div class="ticker">
	<ul class="ticker__wrapper">
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">30%</div>
			<div class="statistics-indicators__text">Ускорь реакцию до&nbsp;30% при обнаружении репутационного кризиса с&nbsp;AI-мониторингомв реальном времени</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">45%</div>
			<div class="statistics-indicators__text">На&nbsp;45% меньше затрат на&nbsp;контент-отдел при генерации пресс-релизов и&nbsp;постов с&nbsp;помощью&nbsp;AI</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">20%</div>
			<div class="statistics-indicators__text">Сократи расходы на&nbsp;аналитику до&nbsp;20% благодаря автоматизированной медиасводкеи отчётам</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">30%</div>
			<div class="statistics-indicators__text">Повышай охват публикаций до&nbsp;30% за&nbsp;счёт адаптации контента под&nbsp;ЦА с&nbsp;помощью&nbsp;AI</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">40%</div>
			<div class="statistics-indicators__text">На&nbsp;40% точнее выбирай инфлюенсеров с&nbsp;AI-оценкой релевантности, охвата и&nbsp;тональности</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">50%</div>
			<div class="statistics-indicators__text">Сократи до&nbsp;50% времени на&nbsp;создание медиа-брифов и&nbsp;аннотаций с&nbsp;AI-резюмированием</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">30%</div>
			<div class="statistics-indicators__text">Ускорь реакцию до&nbsp;30% при обнаружении репутационного кризиса с&nbsp;AI-мониторингомв реальном времени</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">45%</div>
			<div class="statistics-indicators__text">На&nbsp;45% меньше затрат на&nbsp;контент-отдел при генерации пресс-релизов и&nbsp;постов с&nbsp;помощью&nbsp;AI</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">20%</div>
			<div class="statistics-indicators__text">Сократи расходы на&nbsp;аналитику до&nbsp;20% благодаря автоматизированной медиасводкеи отчётам</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">30%</div>
			<div class="statistics-indicators__text">Повышай охват публикаций до&nbsp;30% за&nbsp;счёт адаптации контента под&nbsp;ЦА с&nbsp;помощью&nbsp;AI</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">40%</div>
			<div class="statistics-indicators__text">На&nbsp;40% точнее выбирай инфлюенсеров с&nbsp;AI-оценкой релевантности, охвата и&nbsp;тональности</div>
		</li>
		<li class="ticker__item statistics-indicators">
			<div class="statistics-indicators__number">50%</div>
			<div class="statistics-indicators__text">Сократи до&nbsp;50% времени на&nbsp;создание медиа-брифов и&nbsp;аннотаций с&nbsp;AI-резюмированием</div>
		</li>
	</ul>
</div>
