<section class="benefit">
	<div class="container">
		<div class="benefit__wrapper">
			<div class="benefit__image-wrapper">
				<picture>
					<source data-srcset="/assets/images/webp/benefit.webp"/>
					<img class="lazyload" data-src="/assets/images/benefit.png" width="677" height="626" alt=""/>
				</picture>
			</div>
			<div class="benefit__content">
				<h1 class="benefit__title title">Мы&nbsp;будем вам полезны, если...</h1>
				<ul class="benefit__description benefit__description__list">
					<li>
						<div class="benefit__description-text-bold">Вы&nbsp;знаете, какие процессы хотите автоматизировать</div>
						и&nbsp;ищете экспертного партнёра для внедрения AI-решений.
					</li>
					<li>
						<div class="benefit__description-text-bold">Вы&nbsp;тратите время на&nbsp;рутину в&nbsp;PR</div>
						и&nbsp;хотите избавиться от&nbsp;ручной обработки отзывов и&nbsp;запросов.</li>
					<li>
						<div class="benefit__description-text-bold">Вы&nbsp;хотите внедрить современные инструменты</div>
						аналитика, мониторинг, генерация контента&nbsp;&mdash; с&nbsp;поддержкой на&nbsp;всех этапах.</li>
					<li>
						<div class="benefit__description-text-bold">Вы&nbsp;готовы использовать&nbsp;ИИ для роста эффективности</div>
						и&nbsp;усилить результативность и&nbsp;конкурентоспособность PR-отдела.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
