<section class="create">
	<div class="container">
		<h2 class="create__title title">Преимущества внедрения</h2>
		<div class="create__inner">
			<span class="create__circle create__circle--first"></span>
			<span class="create__circle create__circle--second"></span>
			<span class="create__circle create__circle--third"></span>
			<ul class="create__list">
				<li class="create__item">
					<div class="create-card create-card--one">
						<h3 class="create-card__title">
							Автоматизация
							<span class="text-wrapping">повторяющихся задач</span>
						</h3>
						<div class="create-card__description">
							Анализ и&nbsp;обработка данных, создание персонализированного
							контента, классификация информации и&nbsp;краткое изложение
							больших объемов текста&nbsp;&mdash; все это можно автоматизировать
							с&nbsp;помощью&nbsp;ИИ.
						</div>
					</div>
				</li>
				<li class="create__item">
					<div class="create-card create-card--two">
						<h3 class="create-card__title">
							Снижение
							<span class="text-wrapping">расходов</span>
						</h3>
						<div class="create-card__description">
							Делегируйте повторяющиеся рутинные задачи помощникам
							на&nbsp;основе искусственного интеллекта и&nbsp;сократите расходы
							на&nbsp;ФОТ.
						</div>
					</div>
				</li>
				<li class="create__item">
					<div class="create-card create-card--three">
						<h3 class="create-card__title">
							Повышение
							<span class="text-wrapping">эффективности</span>
						</h3>
						<div class="create-card__description">
							Оптимизируйте и&nbsp;сократите время на&nbsp;выполнение
							интеллектуальных задач, через быстрый сбор и&nbsp;анализ базы
							знаний. Ускоряйте свою реакцию на&nbsp;изменения рынка.
						</div>
					</div>
				</li>
				<li class="create__item">
					<div class="create-card create-card--four">
						<h3 class="create-card__title">
							Быстрая разработка и&nbsp;развертываемость
						</h3>
						<div class="create-card__description">
							Разработка индивидуального решения не&nbsp;занимает много времени
							и&nbsp;при этом легко развертывается в&nbsp;вашем бизнес
							ландшафте.
						</div>
					</div>
				</li>
				<li class="create__item">
					<div class="create-card create-card--five">
						<h3 class="create-card__title">
							Адаптивность
							<span class="text-wrapping">и&nbsp;обучаемость</span>
						</h3>
						<div class="create-card__description">
							Решение легко адаптируется под требования вашего бизнеса
							и&nbsp;при этом постоянно обучается, повышая эффективность своей
							работы.
						</div>
					</div>
				</li>
				<li class="create__item">
					<div class="create-card create-card--six">
						<h3 class="create-card__title">
							Интеграция с
							<span class="text-wrapping">существующими системами</span>
						</h3>
						<div class="create-card__description">
							Решение можно интегрировать с вашими существующими сервисами: ERP,
							CRM, базы знаний и т.д.
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
