<div class="b_ticker">
	<span class="b_ticker__text">СТРИКТ - эксперт в автоматизации бизнес-процессов с помощью LLM/GPT</span>
	<span class="b_ticker__text">СТРИКТ - эксперт в автоматизации бизнес-процессов с помощью LLM/GPT</span>
</div>
