<section class="b_how-work" id="process">
	<div class="container">
		<div class="b_how-work__wrapper">
			<h2 class="b_how-work__title title">Как мы работаем?</h2>
			<ul class="work-steps">
				<li class="work-step">
					<div class="work-step__content">
						<span class="work-step__number">/01</span>
						<h3 class="work-step__title">Анализ требований и&nbsp;проектирование продукта</h3>
						<p class="work-step__description">Мы&nbsp;начинаем с&nbsp;глубокого анализа ваших бизнес-целей, источников данных и&nbsp;конкретных языковых потребностей, чтобы точно определить стратегию автоматизации.</p>
					</div>
				</li>
				<li class="work-step">
					<div class="work-step__content">
						<span class="work-step__number">/02</span>
						<h3 class="work-step__title">Проверка работоспособности решения в&nbsp;реальных условиях</h3>
						<p class="work-step__description">Мы&nbsp;собираем данные, обеспечивая их&nbsp;полное соответствие вашим потребностям и&nbsp;контексту вашего бизнеса. Создаем прототип решения и&nbsp;тестируем его в&nbsp;реальных условиях. Мы&nbsp;настраиваем LLM/GPT для понимания вашего отраслевого языка и&nbsp;контекста.</p>
					</div>
				</li>
				<li class="work-step">
					<div class="work-step__content">
						<span class="work-step__number">/03</span>
						<h3 class="work-step__title">Настройка и внедрение модели</h3>
						<p class="work-step__description">После тестирования решение развертывается в вашем бизнес ландшафте, обеспечивая конфиденциальность и безопасность данных. Решение готово к большой нагрузке. Строгие процессы проверки гарантируют точность модели и ее пригодность для вашего бизнеса.</p>
					</div>
				</li>
				<li class="work-step">
					<div class="work-step__content">
						<span class="work-step__number">/04</span>
						<h3 class="work-step__title">Постоянное улучшение</h3>
						<p class="work-step__description">Мы&nbsp;готовы обеспечить постоянную поддержку, мониторинг и&nbsp;тонкую настройку для адаптации решения к&nbsp;меняющимся потребностям бизнеса и&nbsp;поддержания максимальной производительности и&nbsp;эффективности.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
