<section class="ai">
	<div class="ai__wrapper">
		<ul class="ai__list">
			<li class="ai__item">
				<img class="ai__item-img ai__item-img--chatGPT" src="/assets/images/ai-chatGPT-logo.svg" width="182" height="48" alt="chatGPT-logo"/>
			</li>
			<li class="ai__item">
				<picture>
					<source srcset="/assets/images/webp/ai-yandexGPT-logo.webp">
					<img class="ai__item-img ai__item-img--yandexGPT" src="/assets/images/ai-yandexGPT-logo.png" width="221" height="34" alt="yandexGPT-logo"/>
				</picture>
			</li>
			<li class="ai__item">
				<img class="ai__item-img ai__item-img--perplexity" src="/assets/images/ai-perplexity-logo.svg" width="197" height="36" alt="perplexity-logo"/>
			</li>
			<li class="ai__item">
				<img class="ai__item-img ai__item-img--gemini" src="/assets/images/ai-gemini-logo.svg" width="136" height="50" alt="gemini-logo"/>
			</li>
			<li class="ai__item">
				<picture>
					<source srcset="/assets/images/webp/ai-liamaIndex-logo.webp">
					<img class="ai__item-img ai__item-img--liamaIndex" src="/assets/images/ai-liamaIndex-logo.png" width="233" height="87" alt="liamaIndex-logo"/>
				</picture>
			</li>
		</ul>
	</div>
</section>
