<section class="projects" id="projects">
	<div class="container">
		<h2 class="projects__title title">Наши проекты</h2>
		<div class="project-slider">
			<div class="project-slider__wrapper">
				<div class="project-slider__item">
					<div class="project-slide">
						<div class="project-slide__content">
							<h3 class="project-slide__title">Решение мониторинга упоминания бренда в&nbsp;Интернет в&nbsp;режиме реального времени</h3>
							<div class="project-slide__description">Задача: разработка системы автоматизированного мониторинга упоминаний брендов и выявления инфоповодов, тем и других сущностей из текста сообщений в социальных сетях.</div>
							<button type="button" class="project-slide__button button">Подробнее</button>
						</div>
						<picture>
							<source media="(max-width: 767px)" data-srcset="/assets/images/webp/project-slide-mobile-image-2.webp"/>
							<source media="(max-width: 767px)" data-srcset="/assets/images/project-slide-mobile-image-2.png"/>
							<source data-srcset="/assets/images/webp/project-slide-image-2.webp"/>
							<img class="project-slide__image lazyload" data-src="/assets/images/project-slide-image-2.png" width="754" height="564" alt="">
						</picture>
					</div>
				</div>
				<div class="project-slider__item">
					<div class="project-slide">
						<div class="project-slide__content">
							<h3 class="project-slide__title">Решение по&nbsp;автоматизации рекламы на&nbsp;Amazon</h3>
							<p class="project-slide__description">Задача: разработать MVP-систему, которая позволит автоматизировать запуск рекламы на&nbsp;площадках Facebook, Google и&nbsp;Amazon.</p>
							<button type="button" class="project-slide__button button">Подробнее</button>
						</div>
						<picture>
							<source media="(max-width: 767px)" data-srcset="/assets/images/webp/project-slide-mobile-image-1.webp"/>
							<source media="(max-width: 767px)" data-srcset="/assets/images/project-slide-mobile-image-1.png"/>
							<source data-srcset="/assets/images/webp/project-slide-image-1.webp"/>
							<img class="project-slide__image lazyload" data-src="/assets/images/project-slide-image-1.png" width="754" height="564" alt="">
						</picture>
					</div>
				</div>
				<div class="project-slider__item">
					<div class="project-slide">
						<div class="project-slide__content">
							<h3 class="project-slide__title">Решение для автоматизации работы бизнес-аналитика</h3>
							<p class="project-slide__description">Задача: ускорить процесс описания требований для разработки&nbsp;ПО.</p>
							<button type="button" class="project-slide__button button">Подробнее</button>
						</div>
						<picture>
							<source media="(max-width: 767px)" data-srcset="/assets/images/webp/project-slide-mobile-image-3.webp"/>
							<source media="(max-width: 767px)" data-srcset="/assets/images/project-slide-mobile-image-3.png"/>
							<source data-srcset="/assets/images/webp/project-slide-image-3.webp"/>
							<img class="project-slide__image lazyload" data-src="/assets/images/project-slide-image-3.png" width="754" height="564" alt="">
						</picture>
					</div>
				</div>
			</div>
			<span class="project-slider__border"></span>
			<span class="project-slider__border project-slider__border--blue"></span>
			<div class="project-slider__counter">
				<span class="project-slider__counter-big">01</span>
				<span class="project-slider__counter-small">/3</span>
			</div>
		</div>
	</div>
</section>
