<section class="intro">
	<div class="container">
		<div class="intro__wrapper">
			<div class="intro__content">
				<h1 class="intro__title title">
					Искусственный интеллект для PR: автоматизация, контент, аналитика
				</h1>
				<p class="intro__caption">
					Получайте глубокие инсайты, экономьте время — всё с помощью AI
				</p>
				<a class="intro__link button" href="#consultation">Заказать консультацию</a>
			</div>
			<div class="intro__image-wrapper">
				<div class="intro__parallax">
					<div data-speed="0" data-directiony="-1" data-directionx="-1" data-coords="coordsXY" class="intro__layer intro__layer--a"></div>
					<div data-speed="0.1" data-directionx="-1" data-coords="coordX" class="intro__layer intro__layer--b"></div>
					<div data-speed="0.1" data-directionx="1" data-coords="coordX" class="intro__layer intro__layer--c"></div>
					<div data-speed="0.3" data-directionx="-1" data-directiony="1" data-coords="coordsXY" class="intro__layer intro__layer--d"></div>
					<div data-speed="0.3" data-directionx="1" data-directiony="1" data-coords="coordsXY" class="intro__layer intro__layer--e"></div>
					<div data-speed="0.2" data-directionx="1" data-directiony="-1" data-coords="coordsXY" class="intro__layer intro__layer--f"></div>
				</div>
			</div>
		</div>
	</div>
</section>
