<div class="menu-overlay js-menu-overlay"></div>
<div class="menu">
	<div class="menu__content">
		<a class="menu__logo" href="#">
			<svg width="120" height="96" viewbox="0 0 120 96">
				<use xlink:href="/assets/images/icons.svg#logotype"></use>
			</svg>
		</a>
		<div class="menu__inner">
			<nav class="menu-nav">
				<ul class="menu-nav__list">
					<li class="menu-nav__item">
						<a class="menu-nav__link" href="#ai-solution">
							AI-решения
						</a>
					</li>
					<li class="menu-nav__item">
						<a class="menu-nav__link" href="#advantages">
							Преимущества
						</a>
					</li>
					<li class="menu-nav__item">
						<a class="menu-nav__link" href="#how-work">
							Как мы работаем?
						</a>
					</li>
					<li class="menu-nav__item">
						<a class="menu-nav__link" href="#projects">
							Наши проекты
						</a>
					</li>
					<li class="menu-nav__item">
						<a class="menu-nav__link" href="#why">
							Почему мы?
						</a>
					</li>
				</ul>
			</nav>
			<div class="menu-footer">
				<ul class="menu-footer__list">
					<li class="menu-footer__item">
						<a class="menu-footer__link" href="https://t.me/strikt_ai" target="_blank">Telegram</a>
					</li>
					<li class="menu-footer__item">
						<a class="menu-footer__link" href="tel:+79936287384">+7 993 628-73-84</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
