<section class="advantages" id="advantages">
	<div class="container">
		<div class="advantages__wrapper">
			<h2 class="advantages__title title">
				<span>Преимущества</span> решений на основе Gen AI
			</h2>
			<div class="advantages__caption">
				Мы создаем решения на базе больших языковых моделей
				<span class="advantages__text-highlighting">(LLM)</span>,
				с&nbsp;помощью которых вы можете интеллектуализировать
				бизнес-процессы.
			</div>
			<ul class="advantages__list">
				<li class="advantages__item">
					<picture>
						<source data-srcset="/assets/images/webp/advantages-1.webp"/>
						<img class="advantages__image lazyload" data-src="/assets/images/advantages-1.png" width="372" height="262" alt=""/>
					</picture>
					<div class="advantages__description">
						LLM - это передовые модели искусственного интеллекта, которые
						понимают и генерируют текст на человеческом языке.
					</div>
				</li>
				<li class="advantages__item">
					<picture>
						<source data-srcset="/assets/images/webp/advantages-2.webp"/>
						<img class="advantages__image lazyload" data-src="/assets/images/advantages-2.png" width="372" height="262" alt=""/>
					</picture>
					<div class="advantages__description">
						LLM - обучаются на огромных объемах текстовых данных, таких
						как книги, статьи, веб-сайты, базы знаний и другие источники.
					</div>
				</li>
				<li class="advantages__item">
					<picture>
						<source data-srcset="/assets/images/webp/advantages-3.webp"/>
						<img class="advantages__image lazyload" data-src="/assets/images/advantages-3.png" width="372" height="262" alt=""/>
					</picture>
					<div class="advantages__description">
						LLM - могут создавать, переводить, предсказывать, делать
						пересказ и генерировать текст и другие виды контента.
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
